body {
    padding: 5px;
    color: #475d72;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: url('../images/airplane.jpg');
    background-size: cover;
}

select {
    display: block;
    width: 100%;
    font-size: 14px;
    margin: 10px;
}

.rounded-corners {
    border-radius: 20px;
}

.menu-button {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;

    background-color: #73737345;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    font-size: 12px;
}

.menu-remove-button {
    background-color: #de415e69;
}

.large-button {
    font-size: 18px;
    padding: 12px;
}

.remove-widget-button {
    color: white;
    position: absolute;
    top: -10px;
    left: -10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 7px;
    background-color: red;
}

.refresh-widget-button {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    border-radius: 15px;
    padding: 4px 7px;
    background-color: rgba(0, 0, 0, 0.05);
}

.widget-settings-button {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 7px;
    background-color: rgba(0, 0, 0, 0.05);;
}

.widget-settings-save-button {
    background-color: #2eb532;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
}

.sticky-note {
    background-color: #00000061;
    backdrop-filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7bb', endColorstr='#feec7d',GradientType=0 ); /* IE6-9 */
    width: 200px;
    height: 200px;
    position: absolute;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22), 0 15px 40px rgba(0, 0, 0, 0.36)
}

.sticky-note-input {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    border: none;
    resize: none;

    overflow-y: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;

}

.sticky-note-input:focus {
    outline: none;
}

.weather {
    position: absolute;
    color: #fff;
    padding: 20px;
    background-color: #00000061;
    backdrop-filter: blur(10px);
    background-size: cover;
    width: 300px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22), 0 15px 40px rgba(0, 0, 0, 0.36);
    background-position-y: top;
}

.calendar {
    position: absolute;
    padding: 20px;
    background-color: #00000061;
    backdrop-filter: blur(10px);
    background-size: cover;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22), 0 15px 40px rgba(0, 0, 0, 0.36)
}

.clock {
    position: absolute;
    color: #ffffff;
    padding: 20px;
    background-color: #00000061;
    backdrop-filter: blur(10px);
    background-size: cover;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22), 0 15px 40px rgba(0, 0, 0, 0.36);
    width: 200px;
    text-align: center;
    background-position: bottom;
}

.clock-value {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.google-news {
    position: absolute;
    background-color: #00000061;
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 20px;
    background-size: cover;
    max-width: 500px;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22), 0 15px 40px rgba(0, 0, 0, 0.36);
}

